
DummiePrj.xcodeproj/xcuserdata/Manmiho.xcuserdatad/xcschemes/xcschememanagement.plist

DummiePrj.xcodeproj/xcuserdata/Manmiho.xcuserdatad/xcschemes/DummiePrj.xcscheme

DummiePrj.xcodeproj/project.xcworkspace/xcuserdata/Manmiho.xcuserdatad/UserInterfaceState.xcuserstate
